services:
  - type: web
    name: jobboard-backend
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn jobboard_backend.wsgi:application"
    plan: free
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: jobboard_backend.settings
      - key: SECRET_KEY
        sync: false
      - key: POSTGRES_DB
        sync: false
      - key: POSTGRES_USER
        sync: false
      - key: POSTGRES_PASSWORD
        sync: false
      - key: POSTGRES_HOST
        sync: false
      - key: POSTGRES_PORT
        sync: false
